/Praktikum2/nbproject/private/
/Praktikum2/build/
/Praktikum2/dist/
/Praktikum3/nbproject/private/
/Praktikum3/build/
/ClassInteraction/nbproject/private/
/ClassInteraction/build/
/Praktikum4/nbproject/private/
/Praktikum4/build/
/Praktikum5/nbproject/private/
/Praktikum5/build/
/Praktikum6/nbproject/private/
/Praktikum6/build/
/Ets/nbproject/private/
/Ets/build/
/Circle/nbproject/private/
/Circle/build/
/Praktikum9/nbproject/private/
/Assert/nbproject/private/
/Assert/build/
/AplikasiPemesananMakanan/nbproject/private/
/AplikasiPemesananMakanan/build/